.cta-buttons {

  @media (min-width: 768px) {
    text-align: center;
    margin: 0 auto;
  }

  .btn {
    display: block;
    margin-bottom: 1rem;

    @media (min-width: 768px) {
      display: unset;
      margin-bottom: 0;
    }
  }
}
